* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(37, 37, 37);
  color: white;
}

#wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#box {
  background-color: red;
  border: 2px solid white;
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

#btn {
  width: 150px;
  height: 40px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
  transition: all 0.3s;
  user-select: none;
}

#btn:hover {
  background-color: rgb(91, 174, 246);
}

#btn:active {
  scale: 0.9;
}
