* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f6f1f1;
}

main {
  width: 100%;
}

#section1 {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input {
      margin-right: 0.7rem;
      margin-bottom: 0.7rem;
      color: #2d336b;
      font-size: 1rem;
      font-weight: 600;
      background-color: #fff2f2;
      border: 2px solid #a9b5df;
      border-radius: 25px;
      outline: none;
      padding: 7px 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      transition: all 0.3s;
    }

    input:focus {
      box-shadow: 0px 0px 20px #959ac5;
    }

    button {
      margin-bottom: 0.7rem;
      color: #2d336b;
      font-size: 1rem;
      font-weight: 600;
      background-color: #a9b5df;
      border: none;
      border-radius: 25px;
      outline: none;
      padding: 8px 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      transition: all 0.3s;
      cursor: pointer;
    }

    button:active {
      background-color: #8ea0de;
    }
  }
}

#section2 {
  width: 90%;
  max-width: 1300px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 3rem;
  gap: 1rem;

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div {
      width: 100%;
      flex-grow: 0;

      img {
        width: 100%;
        border-radius: 30px;
      }

      p.imgTitle {
        color: rgb(53, 53, 53);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 10px;
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
}

#section3 {
  // background-color: #c4c8d7;
  padding: 0.5rem 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: rgb(38, 38, 38);
}

// --------------------------------- Media query ka prayas
@media (max-width: 700px) {
  #section1 {
    form {
      flex-direction: column;

      input {
        margin-right: 0;
      }
    }
  }

  #section2 {
    > div {
      > div {
        img {
          border-radius: 15px;
        }

        p.imgTitle {
          font-size: 10px;
        }
      }
    }

    > div#column3,
    > div#column4 {
      display: none;
    }
  }
}
