* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #333;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.a {
  height: 80%;
  width: 80%;
  background-color: crimson;
}

.b {
  height: 80%;
  width: 80%;
  background-color: mediumseagreen;
}

.c {
  height: 80%;
  width: 80%;
  background-color: lightcoral;
}

button {
  padding: 10px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.3s;
}

button:active {
  background-color: lightgray;
  scale: 0.9;
}

