* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(32, 32, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

form {
  margin: 0 auto;
  margin-top: 5rem;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  gap: 5px;
  background-image: url(https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

input {
  border: 1.5px solid rgba(255, 255, 255, 0.47);
  outline: none;
  border-radius: 3px;
  font-family: monospace;
  background-color: transparent;
  padding: 5px 10px;
  backdrop-filter: blur(3px);
  background-color: rgba(164, 164, 164, 0.159);
  color: white;
  transition: all 0.3s;
}

#submit {
  background-color: rgb(128, 128, 128);
}
#submit:hover {
  border: 1.5px solid white;
}

.inpfield:focus {
  scale: 1.1;
  border-color: rgba(245, 245, 245, 0.799);
}

#submit:active {
  scale: 0.9;
}

.container {
  width: 100%;
  margin: 50px 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 20%;
  height: 300px;
  /* border: 2px solid rgb(156, 156, 156); */
  padding: 15px;
  border-radius: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(245, 245, 245, 0.596);
}

.card::-webkit-scrollbar {
  display: none;
}

.profile {
  width: 100%;
}

.profile img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card h5 {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: rgb(163, 255, 226);
  text-transform: capitalize;
}

.card p {
  font-size: 0.9rem;
  opacity: 0.8;
  text-align: justify;
}
