* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #333;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

.box {
  background-color: blue;
  height: 300px;
  width: 300px;
  /* -----------------------------Mouse move--------------------------------------------- */
  position: absolute;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  /* to make cursor in center */
  transform: translate(-50%, -50%);
}
